typing_extensions==4.14.0
protobuf<6.0
requests
aiomqtt
redis
six
pillow
fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
psycopg2-binary
pydantic
asyncio-mqtt
aioredis
databases
alembic
geoalchemy2
shapely
confluent-kafka
bcrypt==3.2.2
passlib[bcrypt]
psycopg2-binary
