@tailwind base;
@tailwind components;
@tailwind utilities;

/* small tweaks: ensure map fills */
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* dark scrollbar for audit trail */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:rgba(148,163,184,0.2);
  border-radius: 8px;
}
